/* Reset b치sico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: url('../img/fondo_maquinas_ibague.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}
  .fondo-overlay {
  background: rgba(255, 255, 255, 0); /* Fondo blanco semitransparente */
  padding: 20px;
  border-radius: 10px; /* Bordes redondeados */
  max-width: 1600px;
  margin: auto; /* Centra el contenido */
}

  
  /* Barra de navegaci칩n */
  .navbar {
    background: #1401A8;
    color: #fff;
    padding: 10px;
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .navbar li {
    margin: 0 15px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Banner principal */
  .banner {
    background: url('../img/banner.jpg') no-repeat center center/cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
  }
  
  .banner h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .banner p {
    font-size: 1.5rem;
  }
  
  /* Secciones generales */
  .destacados, .catalogo, .contacto, .nosotros {
    padding: 20px;
    text-align: center;
  }
  
  /* Productos */
  .productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .producto {
    background: #04007a53;
    padding: 10px;
    border: 1px solid #ddd;
    width: 300px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  }
  
  .producto img {
    width: 100%;
    height: auto;
  }
  
  /* Bot칩n de WhatsApp */
  .btn-whatsapp {
    display: inline-block;
    background: #25D366;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    margin-top: 15px;
  }
  
  /* Footer */
  footer {
    background: #2c3ad2;
    color: #fff;
    text-align: center;
    padding: 15px;
    width: 100%;
  }
  
  /* Dise침o responsivo */
  @media (max-width: 768px) {
    .productos {
      flex-direction: column;
      align-items: center;
    }
    .navbar ul {
      flex-direction: column;
    }
  }
  fondotitulo{
    background-color: #1401A8;
    padding: 80px;
  }